<html>

<head>
	<title>Daniel Pascual</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
	<style>
		.image.main img {
			margin: 10px auto;
			display: block;
			width: 70%;
			height: auto;
		}

		.highlight-link {
			color: #14006e;
			font-weight: bold;
		}

		.image.main video {
			margin: 10px auto;
			display: block;
			width: 70%;
			height: auto;
		}
	</style>
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<span class="image avatar48"><img src="../images/lipinpato.png" alt="my image" /></span>
				<h1 id="title">Daniel Pascual</h1>
				<p>Software Engineer</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
					<li><a href="../index.html" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a></li>
					<li><a href="https://www.artstation.com/pascualdaniel" id="artstation-link"><span
								class="icon solid fa-paint-brush">Visit ArtStation</span></a></li>
				</ul>
			</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				<li><a href="https://x.com/KillPotatos" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://paxcu.itch.io" class="fa-brands fa-itch-io"><span class="label">Itch io</span></a></li>
				<li><a href="https://github.com/PascualDaniel" class="icon brands fa-github"><span class="label">Github</span></a></li>
				<li><a href="www.linkedin.com/in/daniel-pascual-lopez-600170254" class="icon brands fa-linkedin"><span class="label">linkedin</span></a></li>
				<li><a href="mailto:danielpascuallopez@hotmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
			</ul>

		</div>

	</div>

	<!-- Main -->
	<div id="main">

		<section id="top" class="one dark cover">
			<div class="container">
				<header>
					<h2 class="alt"><strong>ArtStation Portfolio</strong></h2>
				</header>
			</div>
		</section>

		<section class="post">
			<header>
				<h2>Explore My ArtStation Profile</h2>
			</header>
			<p>
				I showcase my artistic creations and 3D modeling work on ArtStation. You can find a variety of projects, including concept art, 3D models, and visual effects.
			</p>
			<p>
				Visit my ArtStation profile here:
				<a href="https://www.artstation.com/pascualdaniel" class="highlight-link">ArtStation - Daniel Pascual</a>.
			</p>
			<p>Here are some previews of my work:</p>
			<div class="image main">
				<video src="https://cdn.artstation.com/p/video_sources/002/627/636/changevideo.mp4" alt="Video of transition" controls></video>
				<video src="https://cdn.artstation.com/p/video_sources/002/571/861/postprocess.mp4" alt="Video of shader" controls></video>
				<video src="https://cdn.artstation.com/p/video_sources/002/557/801/ranaslow.mp4" alt="Gou animation" controls></video>
			</div>
		</section>

	</div>

	<!-- Footer -->
	<div id="footer">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Daniel Pascual Portfolio. All rights reserved.</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>

	</div>

	<!-- Scripts -->
	<script src="../assets/js/jquery.scrolly.min.js"></script>
	<script src="../assets/js/jquery.scrollex.min.js"></script>
	<script src="../assets/js/browser.min.js"></script>
	<script src="../assets/js/breakpoints.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>

</body>

</html>
