<html>

<head>
	<title>Daniel Pascual</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
	<style>
		.image.main img {
			margin: 10px auto;
			display: block;
			width: 70%;
			height: auto;
		}

		.highlight-link {
			color: #14006e;
			font-weight: bold;
		}

		.image.main video {
			margin: 10px auto;
			display: block;
			width: 70%;
			height: auto;
		}
	</style>
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<span class="image avatar48"><img src="../images/lipinpato.png" alt="my image" /></span>
				<h1 id="title">Daniel Pascual</h1>
				<p>Software Engineer</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
					<li><a href="../index.html" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a>
					</li>
					<li><a href="https://github.com/PascualDaniel/BigNanny" id="project-link"><span
								class="icon solid fa-code">This Project</span></a></li>
					<li><a href="https://paxcu.itch.io/big-nanny-is-watching" id="itchio-link"><span
								class="icon solid fa-gamepad">Play on itch.io</span></a></li>
				</ul>
			</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				<li><a href="https://x.com/KillPotatos" class="icon brands fa-twitter"><span
							class="label">Twitter</span></a></li>
				<li><a href="https://paxcu.itch.io" class="fa-brands fa-itch-io"><span class="label">Itch io</span></a>
				</li>
				<li><a href="https://github.com/PascualDaniel" class="icon brands fa-github"><span
							class="label">Github</span></a></li>
				<li><a href="www.linkedin.com/in/daniel-pascual-lopez-600170254" class="icon brands fa-linkedin"><span
							class="label">linkedin</span></a></li>
				<li><a href="mailto:danielpascuallopez@hotmail.com" class="icon solid fa-envelope"><span
							class="label">Email</span></a></li>
			</ul>

		</div>

	</div>

	<!-- Main -->
	<div id="main">

		<section id="top" class="one dark cover">
			<div class="container">
				<header>
					<h2 class="alt"><strong>Big Nanny is Watching</strong></h2>
				</header>
			</div>
		</section>

		<section class="post">
			<header>
				<h2>Big Nanny is Watching - A Game Jam Project</h2>
			</header>
			<p>
				I participated in a game jam where we created "Big Nanny is Watching." In this game, you play as a nanny
				who must monitor and discipline children while maintaining order in the house.
				The game explores themes of surveillance and control in a humorous way. We were thrilled to win the
				**Public Award** for this project, recognizing its creativity and appeal.
				This jam was hosted by VOXEL SCHOOL and Madrid In Game, and it was a fantastic experience to collaborate
				with other developers and artists.
				The game was developed using Unity and C#.
			</p>
			<p>
				You can find the project on my GitHub repository:
				<a href="https://github.com/PascualDaniel/BigNanny" class="highlight-link">Big Nanny is Watching</a>.
			</p>
			<p>
				You can also play the game on itch.io:
				<a href="https://paxcu.itch.io/big-nanny-is-watching" class="highlight-link">Big Nanny is Watching on
					itch.io</a>.
				<br>	
				<iframe frameborder="0"
					src="https://itch.io/embed/3548831?bg_color=382b38&amp;fg_color=fed7f8&amp;link_color=3b2f4e"
					width="552" height="167"><a href="https://paxcu.itch.io/big-nanny-is-watching">Big Nanny is Watching
						by Paxcu, Nenepesaurio, Pascualex, aemc64, 孙可儿</a></iframe>
			</p>
			<p>
				On this project, I worked on:
			</p>
			<div class="project-list">
				<ul>
					<li><strong>Gameplay mechanics and logic:</strong>
						<ul>
							<li><strong>Implemented 5 of the 8 core minigames.</strong></li>
						</ul>
					</li>
					<li><strong>Character animations and interactions:</strong>
						<ul>
							<li>Implemented animation systems for the NPC's actions, such as <strong>walking, idle, and
									assets movement</strong>.</li>
							<li>Implemented interaction logic between the NPCs and minigames, including
								<strong>triggering animations and events</strong>.</li>
						</ul>
					</li>
					<li><strong>UI design and implementation:</strong>
						<ul>
							<li>Designed and implemented <strong>HUD elements</strong> to display warnings and player
								progress.</li>
							<li>Added interactive UI components, such as <strong>buttons and indicators</strong>, for
								better player feedback.</li>
							<li>Added a shader to <strong>outline interactable objects</strong>.</li>
							<li>Added a shader to <strong>simulate an old TV</strong> for the transitions.</li>
						</ul>
					</li>
					<li><strong>Sound effects and background music integration:</strong>
						<ul>
							<li>Integrated <strong>sound effects</strong> for player actions and environmental events.
							</li>
						</ul>
					</li>
				</ul>
			</div>

			<p>Here are some images from the project:</p>
			<div class="image main">
				<img src="../images/pitbull.png" alt="Project Image 1">
				<img src="../images/bignannygameplay.png" alt="Project Image 2">
				<video src="https://cdn.artstation.com/p/video_sources/002/627/636/changevideo.mp4"
					alt="Video of transition" controls></video>
			</div>
			<h2>The Development Team:</h2>
			<ul>
				<li>Daniel Pascual - Gameplay, Animation, UI, Sound</li>
				<li>Other Team Members - Various Contributions</li>
			</ul>
		</section>

	</div>

	<!-- Footer -->
	<div id="footer">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Daniel Pascual Portfolio. All rights reserved.</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>

	</div>

	<!-- Scripts -->
	<script src="../assets/js/jquery.scrolly.min.js"></script>
	<script src="../assets/js/jquery.scrollex.min.js"></script>
	<script src="../assets/js/browser.min.js"></script>
	<script src="../assets/js/breakpoints.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>

</body>

</html>