<html>

<head>
	<title>Daniel Pascual</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
	<style>
		.image.main img {
			margin: 10px auto;
			/* Add margin to the top and bottom of the images */
			display: block; /* Make the images block elements */
			width: 70%; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */

		}

		.highlight-link {
			color: #14006e;
			/* Change to your desired color */
			font-weight: bold;
		}
		.image.main video {
			margin: 10px auto;
			display: block;
			width: 70%;
			height: auto;
		}
	</style>
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<span class="image avatar48"><img src="../images/lipinpato.png" alt="my image" /></span>
				<h1 id="title">Daniel Pascual</h1>
				<p>Software Engineer</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
					<li><a href="../index.html" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a>
					</li>
					<li><a href="https://github.com/fdezbarroso/frogrror-mini-jam" id="project-link"><span
								class="icon solid fa-code">This Project</span></a></li>
					<li><a href="https://paxcu.itch.io/gou" id="itchio-link"><span
								class="icon solid fa-gamepad">Play on itch.io</span></a></li>

				</ul>
			</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				<li><a href="https://x.com/KillPotatos" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://paxcu.itch.io" class="fa-brands fa-itch-io"><span class="label">Itch io</span></a></li>
				<li><a href="https://github.com/PascualDaniel" class="icon brands fa-github"><span class="label">Github</span></a></li>
				<li><a href="www.linkedin.com/in/daniel-pascual-lopez-600170254" class="icon brands fa-linkedin"><span class="label">linkedin</span></a></li>
				<li><a href="danielpascuallopez@hotmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
			</ul>

		</div>

	</div>

	<!-- Main -->
	<div id="main">

		<section id="top" class="one dark cover">
			<div class="container">

				<header>
					<h2 class="alt"> <strong>Gou</strong>

				</header>

			</div>
		</section>

		<section class="post">
			<header>
				<h2>Gou - A Game Jam Project</h2>
			</header>
			<p>
				I participated in the 2025 Horror Minu Jam where we created a game called Gou. In this game, you play as a fishermen
				suriviving and exploring an old village on feudal japan.
				The Jam Lasted 72 hours and we are very proud of the result.

				You can find the project on my GitHub repository:
				<a href="https://github.com/fdezbarroso/frogrror-mini-jam" class="highlight-link">Gou</a>.
			</p>
			<p>
				You can also play the game on itch.io with webGL:
				<a href="https://paxcu.itch.io/gou" class="highlight-link">Gou on itch.io</a>.
			</p>
			<p>
				On this project, I worked on the VFX, Pixel Art, and Design. Some examples are:
			</p>
			<div class="project-list">
				<ul>
					<li>The design of some puzzles, including logic-based challenges and environmental storytelling to enhance player immersion.</li>
					<li>Mist VFX, which added an eerie and atmospheric touch to the game, enhancing the horror theme.</li>
					<li>All the pixel art, including character sprites, environment tiles, and props, ensuring a cohesive and visually appealing aesthetic.</li>
					<li>Map design, carefully crafting the layout of the village to balance exploration, challenge, and narrative flow.</li>
					<li>Animations, such as character movements and environmental effects, to bring the game world to life and improve player engagement.</li>
				</ul>
			</div>

			<p>
				Here are some images from the project:
			</p>
			<div class="image main">
				<img src="https://img.itch.zone/aW1hZ2UvMzQ3MDc2NS8yMDcyMTQyNi5wbmc=/250x600/oTlMN%2B.png" alt="Project Image 1">
				<img src="https://img.itch.zone/aW1hZ2UvMzQ3MDc2NS8yMDcyMTQyNC5wbmc=/250x600/n8vR45.png" alt="Project Image 2">
				<img src="https://img.itch.zone/aW1hZ2UvMzQ3MDc2NS8yMDcyMTQyNS5wbmc=/250x600/%2FRfhJL.png" alt="Project Image 3">
				<video src="https://cdn.artstation.com/p/video_sources/002/557/801/ranaslow.mp4" alt="Gou animation" controls></video>
			
			</div>
			<h2>
                The Development Team:
            </h2>
            <ul>
                <li>Andres - Programming, Desing</li>
                <li>Fran - Programming, Desing</li>
                <li>Daniel Pascual - VFX, Pixel Art, Animation, Desing</li>
				<li>Anais - Music</li>

            </ul>
		</section>

	</div>

	<!-- Footer -->
	<div id="footer">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Daniel Pascual Portfolio. All rights reserved.</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>

	</div>

	<!-- Scripts -->
	<script src="../assets/js/jquery.scrolly.min.js"></script>
	<script src="../assets/js/jquery.scrollex.min.js"></script>
	<script src="../assets/js/browser.min.js"></script>
	<script src="../assets/js/breakpoints.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>

</body>

</html>