<html>

<head>
	<title>Daniel Pascual</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
	<style>
		.image.main img {
			margin: 10px 0;
			/* Add margin to the top and bottom of the images */
		}

		.highlight-link {
			color: #14006e;
			/* Change to your desired color */
			font-weight: bold;
		}
	</style>
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
				<h1 id="title">Daniel Pascual</h1>
				<p>Software Engineer</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
					<li><a href="../index.html" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a></li>				
					<li><a href="https://github.com/PascualDaniel/RaytracingEngine" id="project-link"><span
								class="icon solid fa-code">This Project</span></a></li>
				</ul>
			</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				<li><a href="https://x.com/KillPotatos" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://paxcu.itch.io" class="fa-brands fa-itch-io"><span class="label">Itch io</span></a></li>
				<li><a href="https://github.com/PascualDaniel" class="icon brands fa-github"><span class="label">Github</span></a></li>
				<li><a href="www.linkedin.com/in/daniel-pascual-lopez-600170254" class="icon brands fa-linkedin"><span class="label">linkedin</span></a></li>
				<li><a href="danielpascuallopez@hotmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
			</ul>

		</div>

	</div>

	<!-- Main -->
	<div id="main">

		<section id="top" class="one dark cover">
			<div class="container">

				<header>
					<h2 class="alt"> <strong>RayTracing Engine</strong>

				</header>

			</div>
		</section>

		<section class="post">
			<header>
				<h2>My Raytracing Engine Project</h2>
			</header>
			<p>
				RayTracing Engine is a project developed by following the book <a href="https://raytracing.github.io/" class="highlight-link">Ray Tracing in One Weekend</a>. 
    The main purpose of this project is to learn and understand the fundamental concepts of raytracing through practical implementation.
				<a href="https://github.com/PascualDaniel/RaytracingEngine" class="highlight-link">Raytracing Engine</a>.
			</p>
			<p>
				Here are some images from the project:
			</p>
			<div class="image main">
				<img src="../images/raytacing.png" alt="Project Image 1">
			</div>
			<p>
				You can follow the progress of the project on this issue: 
				<a href="https://github.com/PascualDaniel/RaytracingEngine/issues/1" class="highlight-link">Progreso</a>.
			</p>
		</section>

	</div>

	<!-- Footer -->
	<div id="footer">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Daniel Pascual Portfolio. All rights reserved.</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>

	</div>

	<!-- Scripts -->
	<script src="../assets/js/jquery.scrolly.min.js"></script>
	<script src="../assets/js/jquery.scrollex.min.js"></script>
	<script src="../assets/js/browser.min.js"></script>
	<script src="../assets/js/breakpoints.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>

</body>

</html>