<html>

<head>
	<title>Daniel Pascual</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
	<style>
		.image.main img {
			margin: 10px auto;
			display: block;
			width: 70%;
			height: auto;
		}

		.highlight-link {
			color: #14006e;
			font-weight: bold;
		}

		.image.main video {
			margin: 10px auto;
			display: block;
			width: 70%;
			height: auto;
		}
	</style>
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<span class="image avatar48"><img src="../images/lipinpato.png" alt="my image" /></span>
				<h1 id="title">Daniel Pascual</h1>
				<p>Software Engineer</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
					<li><a href="../index.html" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a>
					</li>
					<li><a href="https://github.com/PascualDaniel" id="project-link"><span
								class="icon solid fa-code">This Project</span></a></li>
					<li><a href="https://flyerss.itch.io/slide-d" id="itchio-link"><span
								class="icon solid fa-gamepad">Play on itch.io</span></a></li>
				</ul>
			</nav>

		</div>

		<div class="bottom">
			<!-- Social Icons -->
			<ul class="icons">
				<li><a href="https://x.com/KillPotatos" class="icon brands fa-twitter"><span
							class="label">Twitter</span></a></li>
				<li><a href="https://paxcu.itch.io" class="fa-brands fa-itch-io"><span class="label">Itch io</span></a>
				</li>
				<li><a href="https://github.com/PascualDaniel" class="icon brands fa-github"><span
							class="label">Github</span></a></li>
				<li><a href="www.linkedin.com/in/daniel-pascual-lopez-600170254" class="icon brands fa-linkedin"><span
							class="label">linkedin</span></a></li>
				<li><a href="mailto:danielpascuallopez@hotmail.com" class="icon solid fa-envelope"><span
							class="label">Email</span></a></li>
			</ul>
		</div>
	</div>

	<!-- Main -->
	<div id="main">

		<section id="top" class="one dark cover">
			<div class="container">
				<header>
					<h2 class="alt"><strong>Slide Dungeon</strong></h2>
					<p>A puzzle & adventure game full of humor, mystery, and cartoon charm.</p>
				</header>
			</div>
		</section>

		<section class="post">
			<header>
				<h2>Slide Dungeon - A Puzzle Adventure</h2>
			</header>
			<p>
				<strong>Slide Dungeon</strong> is a top-down puzzle adventure where you play as a charismatic wizard
				trapped inside a dungeon.
				Your main ability is casting electric bolts to activate towers, open doors, and defeat enemies while
				solving room-based challenges.
			</p>
			<p>
				What makes the game unique is that as you progress, you unlock rooms that you can later slide around
				like pieces of a giant puzzle, building your own path toward the exit.
				The atmosphere blends humor, mystery, and a cartoon chibi art style, giving the adventure a lighthearted
				and charming tone even amidst the darkness of the dungeon.
			</p>
			<p>
				You can play it on itch.io:
				<a href="https://flyerss.itch.io/slide-d" class="highlight-link">Slide Dungeon on itch.io</a>.
				<br>
				<iframe frameborder="0"
					src="https://itch.io/embed/3889264?border_width=2&amp;bg_color=683368&amp;fg_color=e7d4fb&amp;link_color=fff067"
					width="554" height="169"><a href="https://flyerss.itch.io/slide-d">Slide Dungeon by Julia Fluiters -
						flyerss, Paxcu, ZubeRoa, Nerea Herreros, Francisco Blümel Araya, Eddricman</a></iframe>
			</p>

			<h3>My Contribution:</h3>
			<ul>
				<li>Created VFX for player healing, extra life, damage feedback, and object highlighting.</li>
				<li>Implemented VFX such as player respawn, enemy damage, and player damage.</li>
				<li>Designed and integrated the attack lightning effect.</li>
				<li>Built water material, adjusted level lighting, and applied post-processing tweaks.</li>
			</ul>

			<p>
				Here are some images and videos from the project:
			</p>
			<div class="image main">
				<img src="../images/slide-dungeon/Mago.png" alt="Screenshot 1">
				<img src="../images/slide-dungeon/Mago2.png" alt="Screenshot 2">
				<img src="../images/slide-dungeon/Mago3.png" alt="Screenshot 3">
				<img src="../images/slide-dungeon/Mago4.png" alt="Screenshot 4">

			</div>

			<h2>The Development Team</h2>
			<ul>
				<li><strong>Producers & Art Directors:</strong> Julia Fluiters & Francisco Blümel</li>
				<li><strong>Gameplay & Level Design:</strong> Francisco Blümel</li>
				<li><strong>Programming:</strong> Julia Fluiters, Eduardo Rico Manzanera, Alberte Díaz, Egoitz Zubeldia
				</li>
				<li><strong>Puzzle Design:</strong> Francisco Blümel, Patricia Salamanca</li>
				<li><strong>Technical Artist:</strong> Daniel Pascual</li>
				<li><strong>Music:</strong> Nerea Herreros</li>
			</ul>
		</section>

	</div>

	<!-- Footer -->
	<div id="footer">
		<ul class="copyright">
			<li>&copy; Daniel Pascual Portfolio. All rights reserved.</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>

	<!-- Scripts -->
	<script src="../assets/js/jquery.scrolly.min.js"></script>
	<script src="../assets/js/jquery.scrollex.min.js"></script>
	<script src="../assets/js/browser.min.js"></script>
	<script src="../assets/js/breakpoints.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>

</body>

</html>