<html>

<head>
	<title>Daniel Pascual</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
	<style>
		.image.main img {
			margin: 10px auto;
			/* Add margin to the top and bottom of the images */
			display: block; /* Make the images block elements */
			width: 70%; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */

		}

		.highlight-link {
			color: #14006e;
			/* Change to your desired color */
			font-weight: bold;
		}
	</style>
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
				<h1 id="title">Daniel Pascual</h1>
				<p>Software Engineer</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
					<li><a href="../index.html" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a>
					</li>
					<li><a href="https://github.com/Ericoman/TonySoap" id="project-link"><span
								class="icon solid fa-code">This Project</span></a></li>
					<li><a href="https://paxcu.itch.io/tony-soaps-por-ducker" id="itchio-link"><span
								class="icon solid fa-gamepad">Play on itch.io</span></a></li>

				</ul>
			</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="https://github.com/PascualDaniel" class="icon brands fa-github"><span class="label">GitHub
							Project</span></a></li>
				<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
				<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
			</ul>

		</div>

	</div>

	<!-- Main -->
	<div id="main">

		<section id="top" class="one dark cover">
			<div class="container">

				<header>
					<h2 class="alt"> <strong>Tony Soap</strong>

				</header>

			</div>
		</section>

		<section class="post">
			<header>
				<h2>Tony Soap - A Game Jam Project</h2>
			</header>
			<p>
				I participated in the 2025 Global Game Jam where we created a game called Tony Soap. In this game, you play as a duck
				skating with a soap stick on a bathtub.
				The Jam Lasted 48 hours and we had a lot of fun creating this game.

				You can find the project on my GitHub repository:
				<a href="https://github.com/Ericoman/TonySoap" class="highlight-link">Tony Soap</a>.
			</p>
			<p>
				You can also play the game on itch.io:
				<a href="https://paxcu.itch.io/tony-soaps-por-ducker" class="highlight-link">Tony Soap on itch.io</a>.
			</p>
			<p>
				On this project, I worked on the VFX and Pixel Art. Some examples are:

				<ul>
					<li>Created particle effects for the soap trails.</li>
					<li>Two types of bubbles, one for grabing and one to add to the trail </li>
					<li>Developed background art and some assets.</li>
					<li>Most of the materials.</li>
					<li>The logo</li>
					<li>The banner art</li>
					<li>The ducks that appear while doing tricks</li>
					<li>Parts of the UI like the buttons</li>
				</ul>
			</p>

			<p>
				Here are some images from the project:
			</p>
			<div class="image main">
				<img src="https://img.itch.zone/aW1nLzE5NTM2NTcwLnBuZw==/original/CLzgs4.png" alt="Project Image 1">
				<img src="https://img.itch.zone/aW1hZ2UvMzI3Mjg0Mi8xOTUzODY3Ny5wbmc=/original/DhMP3m.png" alt="Project Image 2">
			</div>
			<h2>
                The Development Team:
            </h2>
            <ul>
                <li>Egoitz Zubeldia - Gameplay Programming</li>
                <li>Eduardo Rico - Gameplay Programming</li>
                <li>Daniel Pascual - VFX and Pixel Art</li>
                <li>Francisco Blümel - Sound, 3D Modeling, Design, and UI</li>
                <li>Patricia Salamanca - Pixel Art, 3D Modeling, Design, and UI</li>
            </ul>
		</section>

	</div>

	<!-- Footer -->
	<div id="footer">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Daniel Pascual Portfolio. All rights reserved.</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>

	</div>

	<!-- Scripts -->
	<script src="../assets/js/jquery.scrolly.min.js"></script>
	<script src="../assets/js/jquery.scrollex.min.js"></script>
	<script src="../assets/js/browser.min.js"></script>
	<script src="../assets/js/breakpoints.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>

</body>

</html>